<div class="tabs">
    <a routerLink="bookmarks" class="tab bookmarks-tab">
        <div class="tab-tile">
            <div class="icon">
                <i class="material-icons-outlined">bookmarks</i>
            </div>
        </div>
    </a>

    <a routerLink="todo" class="tab todo-tab">
        <div class="tab-tile">
            <div class="icon">
                <i class="material-icons-outlined">check</i>
            </div>
        </div>
    </a>

    <a routerLink="notes" class="tab notes-tab">
        <div class="tab-tile">
            <div class="icon">
                <i class="material-icons-outlined">notes</i>
            </div>
        </div>
    </a>
</div>
