.tabs {
    display: flex;
    gap: 14px;
    padding: 10px;

    background-color: rgba(white, 0.25);

    border-radius: 12px;
}

.tab-tile {
    padding: 15px;
    background: rgba(black, 0.1);

    i {
        color: #222;

        cursor: pointer;
    }
}