.notes-wrapper {
    //these two settings make sure to have a scroll bar in case of overflow
    height: 100%;
    overflow-y: auto;
}

.add-btn i {
    margin-right: 5px;
    margin-left: -3px;
}

app-note-card {
    display: block;
    margin-bottom: 15px;
}